body {
	margin: 0;
	padding: 0;
}

.header {
	margin: 0;
	padding: 0;
	height: 75px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: #38302D;
	position: relative;
}

.header h1 {
	font-size: 150%;	
	position: absolute;
	left: 90px;
	display: inline-block;
	transform: translateY(-10%); 
}

.circle {
	display: inline-block;
	height: 28px;
	width: 28px;
	border-radius: 14px;
	vertical-align: 10%;
	position: absolute;
	top: 21px;
}

.dark {
	background-color: #38302D;
	left: 30px;
}

.blue {
	background-color: #A3CAE7;
	left: 15px;

}

.main:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url('http://images.photo-visible.com/photo_public/2011/4/800/800_640.jpg');
  background-size: 100% 100%;
  width: 100%;
  height: 440px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.main {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  height: 440px;
}
.content-container {
	color: #38302D;
	font-family: 'Lato', Helvetica, sans-serif;
	text-align: center;
	margin: 0 auto;
	margin-top: 15%;
	min-height: 270px;
	max-height: 320px;
	width: 85%;
}

.login-container {
	padding: 15px 15px 25px 15px;
	margin-top: 34%;
	background-color: white;
}

.login-wrapper h3 {
	margin-top: 30px;
	margin-bottom: 35px;
}

.login {
	font-weight: 300;
	font-size: 36px;
	color: #333333;
	padding-bottom: 25px;
	border-bottom: 1px solid #e5e5e5;
}

.question-container {
	width: 100%;
	background-color: white;
	padding: 0 0 15px 0;
	border-radius: 3px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.nav li {
    display: inline-block;
    width: 49.5%;
    border-right: 1px solid #bbb;
}

.nav li:last-child {
    border-right: none;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    width: 100%;
}


li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    pointer-events: auto;
    width: 49.5%;
    max-width: 225px;

}

.dropdown-content a {
    color: black;
    padding: 12px 0px 12px 0px;
    text-decoration: none;
    display: block;
    text-align: center;
    max-width: 225px;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
	transition-duration: 0.4s;
}

.button:hover {
	background-color: #0F3B14;
}

.instructions {
	padding: 15px;
	font-size: 90%;
	height: 255px;
	overflow: scroll;
}

.instructions h3 {
	margin: 0;
}

.question {
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	margin: 0;
}

.option-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.option-list li{
	width: 80%;
	margin: 0 auto;
	padding: 4px 16px;
	transition-duration: 0.4s;
	border-radius: 3px;
}

.option-list li:hover {
	background-color: #4CAF50;
	cursor: pointer;
}

.disabled {
	color: #606060 !important;
	margin: 0;
}

.disabled:hover p{
	display: block;
}

.disabled p {
	display: none;
}

.footer {
	position: absolute;
	top: 517px;
	height: 50px;
	margin-top: 15px;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	width: 95%;
	margin: 0 auto;
	padding: 10px;
}

.fade-in {
	margin-top: 140px;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.btn-green {
	color: white;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #5bb75b;
	padding: 5px 20px;
}

.btn-black {
	padding: 5px 20px;
	background-color: #222222;
	color: white;
}

.btn {
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 5px;
	margin-left: 5px;
	text-decoration: none;
}

.large {
	font-size: 150%;
	padding: 15px !important;
}

/*.register {
	width: 340px;
	margin: 0 auto;
}*/

.logout {
	width: 95px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

@media only screen and (min-width: 374px) {
	.main:before {
		height: 500px;
	}

	.content-container {
		width: 80%;
		height: 50%;
		margin-top: 110px;
	}

	.question-container {
		margin-top: -70px;
		height: 380px;
	}

	.footer {
		top: 590px;
	}

	.register {
		width: 300px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 400px) {
	.header h1 {
		font-size: 170%;
		margin-top: 13px;
	}

	.login-container {
		margin-top: 0px;
	}

	.content-container {
		width: 75%;
		padding: 20px;
	}

	.question-container {
		height: 340px;
	}
}

@media only screen and (min-width: 442px) {
	.header h1 {
		font-size: 170%;
		left: 75px;
		top: 10px;
	}
}

@media only screen and (min-width: 500px) {
	.login-container {
		margin-top: 0px;
	}

	.question-container {
		margin-top: -70px;
		height: 340px;
	}
}

@media only screen and (min-width: 760px) {
	.main {
		height: 750px;
	}

	.main:before {
		height: 750px;
	}

	.content-container {
		font-size: 115%;
		width: 60%;
		height: 60%;
		margin-top: 190px
	}

	.instructions {
		height: 77%;
	}

	.instructions p {
		text-align: left;
	}

	.question-container {
		height: 130%;
	}

	.footer {
		top: 850px;
	}
}

@media only screen and (min-width: 800px) {
	.header h1 {	
		left: 70px;
}

	.main {
		height: 700px;
	}

	.main:before {
		height: 700px;
	}

	.content-container {
		max-width: 500px;
		margin-top: 160px;
	}

	.dropdown-content {
	    min-width: 160px;
	}

	.instructions {
		padding: 15px;
		font-size: 90%;
		height: 85%;
	}

	.option-list li{
		width: 60%;
	}

	.option-list li:hover {
		background-color: #4CAF50;
		cursor: pointer;
		color: black;
		font-size: 125%;
	}

	.footer {
		font-size: 115%;
		top: 800px;
	}

	.register {
		width: 330px;
	}

	.lgn {
		bottom: 635px !important;
	}

}